# Required
NOTION_TOKEN=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
# Optional but recommended
NOTION_VERSION=2022-06-28
PORT=3030
TRANSPORT=http   # http | stdio
# If you commonly use one DB for tasks, set a default here
NOTION_DEFAULT_DATABASE_ID=21ed7960213a80989022d45bf94a71fb
